<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
    <meta charset="utf-8">
    <title>Dependency List</title>
    <style>
       body {
        width: 450px;
        font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Avenir',
          Roboto, 'Helvetica Neue', Helvetica, sans-serif;
        margin: 0 auto;
        padding: 0;
      }
       h1, h2 {
        text-align: center;
        font-weight: 600;
      }
      ul>li {
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
        margin: 12px auto;
        padding: 4px 0px;
        list-style: none;
      }
    </style>
  </head>
  <body>
    <h1>Node.js Examples Initiatives</h1>
    <h2>Dependency List</h2>
    <ul>
      {{#each packages as |dependency|}}
        {{#> childEntry}}
          <li>{{dependency.index}}. {{dependency.name}} - {{dependency.version }}</li>
        {{/childEntry}}
      {{/each}}
    </ul>
  </body>
 </html>